@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/popins/Poppins-Black.woff2') format('woff2'),
        url('./Fonts/popins/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/popins/Poppins-ExtraBold.woff2') format('woff2'),
        url('./Fonts/popins/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/popins/Poppins-Bold.woff2') format('woff2'),
        url('./Fonts/popins/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/popins/Poppins-Light.woff2') format('woff2'),
        url('./Fonts/popins/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/popins/Poppins-Medium.woff2') format('woff2'),
        url('./Fonts/popins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/popins/Poppins-ExtraLight.woff2') format('woff2'),
        url('./Fonts/popins/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/popins/Poppins-Regular.woff2') format('woff2'),
        url('./Fonts/popins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/popins/Poppins-SemiBold.woff2') format('woff2'),
        url('./Fonts/popins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./Fonts/popins/Poppins-Thin.woff2') format('woff2'),
        url('./Fonts/popins/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./Fonts/Inter/Inter-Bold.woff2') format('woff2'),
        url('./Fonts/Inter/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: normal;
    box-sizing: border-box;
}
img{
    width: 100%;
}

.container{
    max-width:1200px;
    margin: 0 auto !important;
    padding: 0 20px;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,p{
    margin: 0;
}
/* home banner css start  */
.banner, .banner-about, .banner-nomination{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
.banner{
    background-image: url(./Images/banner-bg.svg);
    background: red;
}
.banner-about{
    background-image: url(./Images/about-banner-bg.svg);
    background: red;
}
.banner-nomination{
    background-image: url(./Images/nomination-banner-bg.svg);
    background: red;
}
.home-banner-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding-top: 50px;
}

.home-banner-trophy {
    position: absolute;
    right: 100px;
    bottom: 25px;
}
.home-banner-trophy img{
    height: 760px;
}
@media(min-width:1560px){
  .home-banner-trophy img{
    height: 860px;
}
}
.banner-quote-home {
    width: 488px;
    background: #EC268F;
    padding: 64px 44px 50px 67px;
    box-sizing: border-box;
    margin-left: 80px;
}
.banner-quote-home h3 {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 7px;
}
.banner-quote-home p {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 32px;
}
.banner-about .banner-quote-home{
    background: #00AEEF;
}
.banner-about .banner-quote-home p{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-quote-home a {
    border: 2px solid #FFF;
    text-decoration: none;
    width: 100%;
    display: block;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 14px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}
.banner-quote-home a:hover{
    color: #EC268F;
    background: white;
}
/* home banner css End  */

/* breadcrum css start  */
.breadcrum-wrapper {
    background: #ECECEC;
    padding: 9px 0px;
    position: relative;
    z-index: -1;
}
.breadcrum-wrapper .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.breadcrum-wrapper a, .breadcrum-wrapper p{
    color: #8E8E8E;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    line-height: normal;
}
.breadcrum-wrapper i{
    color: #8E8E8E;
}
/* breadcrum css End  */

/* deserving css start  */
.awards-content-wrapper p {
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.awards-content-wrapper h2 {
    color: #000;
    text-align: justify;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 6px;
}
.awards-deserving-main {
    display: grid;
    padding-top: 20px;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 30px;
}
@media(min-width:991px){
  .awards-deserving-main {
    padding-top: 104px;
    grid-template-columns: 230px 610px;
    gap: 0;
  }
}
@media(min-width:1140px){
  .awards-deserving-main {
    grid-template-columns: 320px 730px;
  }
}
@media(min-width:1260px){
  .awards-deserving-main {
    grid-template-columns: 1fr 820px;
  }
}
.awards-img-wrapper {
  max-width: 200px;
}
@media(min-width:991px){
  .awards-img-wrapper {
    max-width: 380px;
  }
}
/* deserving css End  */

/* how to participate css start  */
.how-to-participate {
    background: #0098DA;
    padding: 85px 0;
    margin: 60px 0px 0px 0px;
}
.participate-main-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 78px;
}
@media(min-width:767px){
  .participate-main-wrapper{
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:998px){
  .participate-main-wrapper {
    gap: 248px;
    grid-template-columns: 518px 1fr;
  }
}
@media(min-width:1140px){
  .participate-main-wrapper {
    grid-template-columns: 638px 1fr;
  }
}
.content-wrapper h3 {
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.button-wrapper img {
    height: 25px;
    width: 30px;
}

.button-wrapper a{
    border: 2px solid #FFF;
    text-decoration: none;
    width: 100%;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 14px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* how to participate css End  */

/* counter css start  */
.counter-main-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media(min-width:768px){
  .counter-main-wrapper{
    gap: 189px;
  }
}
.counter-wrapper {
    background: #F5F5F5;
    padding: 31px 0px 55px 0px;
}
.counter-content h3 {
    color: #000;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.counter-content p {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
/* counter css End  */

/* footer css start  */
footer {
    background: #000;
    padding: 15px 0px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* footer css end  */

/* light box css start  */

.thumbs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 52px;
    padding: 91px 0px;
  }
  @media(min-width:991px){
    .thumbs{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .thumbs a:first-child{
    background: #FFCC29;
  }
  .thumbs a:last-child{
    background: #EC268F;
  }
  .thumbs >  a:hover{
    opacity: 0.8;
  }
  .thumbs > a img {
    width: 54px;
    height: 40px;
}
  .thumbs >  a{
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    height: 369px;
    padding: 62px 53px;
    line-height: normal;
  }
  .lightbox {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .lightbox:has(div:target) {
    transform: translateY(0%);
    opacity: 1;
    z-index: 1;
  }
  .lightbox a.nav {
    text-decoration: none;
    color: white;
    font-size: 40px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
    opacity: 0.5;
    font-weight: 200;
  }
  .lightbox a.nav:hover {
    opacity: 1;
  }
  .lightbox .target {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    transform: scale(0);
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  .lightbox .target *:first-child,
  .lightbox .target *:last-child {
    text-align: center;
  }
  @media all and (max-width: 600px) {
    .lightbox .target *:first-child,
    .lightbox .target *:last-child {
      flex: 0 0 50px;
    }
  }
  .lightbox .target .content {
    transform: scale(0.9);
    opacity: 0;
    flex: 1 1 auto;
    align-self: center;
    max-height: 100%;
    min-height: 0;
    min-width: 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  }
  .lightbox .target .content img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: calc(100vh - 170px);
    display: block;
    margin: 0;
  }
  .lightbox .target:target {
    transform: scale(1);
  }
  .lightbox .target:target .content {
    transform: scale(1);
    opacity: 1;
  }
  .lightbox .close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .lightbox svg {
    display: block;
    width: 1em;
    height: 1em;
    font-size: 3.5rem;
  }
/* light box css end  */

/* about founder css start  */
.about-founder-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 49px;
    margin: 94px 0px 105px 0px;
}
@media(min-width:768px){
  .about-founder-content-wrapper {
    grid-template-columns: 403px 1fr;
  }
}
@media(min-width:992px){
  .about-founder-content-wrapper{
    grid-template-columns: 573px 1fr;
  }
}
.title-wrapper h3 {
    color: #000;
    text-align: justify;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 4px;
}
.title-wrapper p {
    color: #000;
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}
/* about founder css End  */

/* nomination css start  */
.btn-wrapper button {
    background: transparent;
    padding: 0;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight:600;
    line-height: 60px;
    border: none;
    width: 100%;
    text-align: start;
    text-transform: uppercase;
    cursor: pointer;
  }
  @media(max-width:767px){
    .btn-wrapper button{
      font-size: 16px;
    }
  }
  .accordion-wrapper {
    margin-bottom: 10px;
    background: transparent;
    padding: 0;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    border-top: 1px solid #CACACA;
    border-right: 0;
    border-left: 0;
    width: 100%;
    text-align: start;
    text-transform: uppercase;
    position: relative;
    margin: 0;
  }
  .accordion-wrapper:after{
    content: '';
    position: absolute;
    background-image: url(./Images/arrow-down.svg);
    width: 31px;
    height: 19px;
    background-size: 100%;
    top: 22px;
    right: 15px;
    background-repeat: no-repeat;
  }
  @media(max-width:767px){
    .accordion-wrapper:after{
      right: 0;
    }
  }
  .accordion-wrapper.active:after{
    transform: rotate(180deg);
  }
  .collepsing-div {
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize;
  }
  @media(max-width:767px){
    .collepsing-div{
      font-size: 14px;
      line-height: 30px;
    }
  }
  
  .nomination-content-wrapper {
    margin: 80px 0px;
}
.nomination-content-wrapper h3 {
    color: #000;
    text-align: justify;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 35px;
}
@media(max-width:767px){
  .nomination-content-wrapper h3{
    font-size: 22px;
  }
}
/* nomination css end  */


/* jure section css start  */


.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
  }
  
  .overlay.active {
    display: block;
  }
  
  .modal {
    background-color: #fff;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.25);
    display: none;
    left: calc(50% - 20px);
    margin: 20px;
    max-height: calc(100% - 40px);
    max-width: 900px;
    overflow-y: auto;
    position: fixed;
    top: calc(50% - 20px);
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    z-index: 100;
  }
  
  .modal.active {
    display: block;
  }
  .modal-actions button {
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 28px;
}
  .modal-content {
    padding: 30px;
  }
  .client-content-wrapper h2 {
    margin-bottom: 15px;
}
  .modal-actions {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0;
  }
  .jure-card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 21px;
    margin: 48px 0;
}
@media(min-width:768px){
  .jure-card-wrapper{
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:1100px){
  .jure-card-wrapper{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
button.modal-open {
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
}
.jure-main-wrapper h3 {
    padding-top: 89px;
    color: #000;
    text-align: justify;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
button.modal-open:hover{
    background-color: #ffcb05;
}

button.modal-open img {
    height: 428px;
    object-fit: cover;
}
.jure-description {
    padding: 14px 42px;
}
.jure-description h4 {
    color: #000;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
    font-family: Poppins;

}
.jure-description p {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-height: 100px;
    font-family: Poppins;
}
.model-inner-body-wrapper {
    display: flex;
    gap: 50px;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
@media(min-width:768px){
  .model-inner-body-wrapper{
    flex-direction: row;
    padding-top: 0;
  }
}
.model-inner-body-wrapper img{
    min-width: 250px;
}
/* jure section css end  */

/* awards css start  */
.print-design-award-wrapper {
    margin-top: 89px;
}
.print-design-award-wrapper h3 {
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}
.print-design-award-wrapper p {
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* awards css end  */

/* sponser css start  */
body {
    --space: 2rem;
  }
  
  .marquee {
    --duration: 200s;
    --gap: var(--space);
    display: flex;
    overflow: hidden;
    user-select: none;
    margin-bottom: 40px;
  }
  
  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .marquee__group {
      animation-play-state: paused;
    }
  }
  
  .m-item {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
  }
  
  .m-item img {
    width: 28px;
    height: 28px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 1rem;
  }
  
  .m-item p {
    font-size:28px;
    font-weight:bold;
    
  }
  
  .marquee--reverse .marquee__group {
    animation-direction: reverse;
    animation-delay: calc(var(--duration) / -2);
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  
  .sponser-section-wrapper h3 {
    margin: 20px 0px 40px 0px;
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sponser-section-wrapper {
    margin-bottom: 91px;
}

/* sponser css End  */


/* Header css start  */
/* Extra */
.logo {
  width: 220px;
  height: 120px;
}
@media(min-width:1180px){
  .logo{
    width: 310px;
  }
}
.navbar {
  align-items: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
}
.header-wrapper {
  background: black;
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
@media(min-width:992px){
  .header-wrapper {
    position: sticky;
  }
}
.push-left {
  margin-left: auto;

}
@media(max-width:992px){
  .push-left{
    /* padding: 15px;
    background: #ec008c;
    border-radius: 8px; */
  }
}
/* Menu */
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
}
.hamburger:after{
  content: '';
  position: absolute;
  height: 50px;
  width: 50px;
  background: #ec008c;
  border-radius: 8px;
  left: -9px;
  top: -9px;
  z-index: -1;
}
@media screen and (max-width: 992px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger-line {
  background: white;
  height: 3px;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamburger:hover .hamburger-line {
  background: white;
}
.hamburger-line-top {
  top: 3px;
}
.menu-active .hamburger-line-top {
  top: 50%;
  transform: rotate(45deg) translatey(-50%);
}
.hamburger-line-middle {
  top: 50%;
  transform: translatey(-50%);
}
.menu-active .hamburger-line-middle {
  left: 50%;
  opacity: 0;
  width: 0;
}
.hamburger-line-bottom {
  bottom: 3px;
}
.menu-active .hamburger-line-bottom {
  bottom: 50%;
  transform: rotate(-45deg) translatey(50%);
}
.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in;
  position: relative;
}
@media screen and (max-width: 992px) {
  .nav-menu {
    background: #fff;
    flex-direction: column;
    justify-content: center;
   display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
    text-align: center;
  }
  .menu-active .nav-menu {
    transform: translatey(0%);
    display: block;
  }
}
ul#primary-menu {
  height: 100vh;
  padding: 80px 20px 20px 20px;
}
@media(min-width:992px){
  ul#primary-menu{
    height: auto;
    padding: 0;
  }
}
.nav-menu .menu-item a {
  display: block;
  margin: 0px !important;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 0px;
  color: #000000;
  text-align: start;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.5s ease-in-out;
}
.nav-menu .menu-item > a:hover{
  color: #EC268F !important;
}
@media(min-width:992px){
  .nav-menu .menu-item a{
    color: #FFF;
    margin: 0px 10px !important;
    text-align: right;
    padding: 60px 0px;
  }
}
@media(min-width:1080px){
  .nav-menu .menu-item a{
    margin: 0px 15px;
    font-size: 20px;
  }
}
.nav-menu .menu-item a:hover {
  color: white;
  text-decoration: underline;
}
@media screen and (max-width: 992px) {
  .nav-menu .menu-item a {
    font-size: 20px;
    margin: 8px;
    transition: all 0.5s ease-in-out;
  }
}
.sub-nav {
  display: none;
  position: absolute;
  background: #EC268F;  
  list-style: none;
  width: 263px;
  z-index: 9;
  padding: 20px 30px;
  top: 110px;
}
.menu-item ul.sub-nav a.sub-nav__link {
  padding: 0;
  text-align: start;
  margin: 0 0 8px 0px;
}
.sub-nav__link{
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 43px;
}
@media screen and (max-width: 992px) {
  .sub-nav {
    position: relative;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
}
.nav__link:hover + .sub-nav {
  display: block;
}
.sub-nav:hover {
  display: block;
}

/* Header css End  */